<div layout="column" flex>
    <md-toolbar>
        <div class="layout-content">
            <div layout="row" layout-align="start center" flex>
                <span>HEADER</span>
            </div>
        </div>
    </md-toolbar>
    <main layout="row" flex>
        <div class="layout-content">
            <div ui-view></div>
        </div>
    </main>
    <md-toolbar>
        <div class="layout-content">
            <div layout="row" layout-align="start center" flex>
                <span>FOOTER</span>
            </div>
        </div>
    </md-toolbar>
</div>

